:root {
  /* FONT */

  --FONT-heading-section-nav-title-primary: "Chau Philomene One", sans-serif;
  --FONT-text-p-body-secondary: "Rubik", sans-serif;

  /* COLOR */
  --COLOR-BACKGROUND-Navbar-Form: #ffeddc;
  --COLOR-BACKGROUND-Hero: #fffcfa;
  --COLOR-BACKGROUND-PricingCard: #fff3e8;

  --COLOR-FONT-header: #2e2e2e;
  --COLOR-FONT-text-body: #4f4e4e;
  --COLOR-FONT-section-title: #a15c1f;
  --COLOR-FONT-numbers: #ababab;
  --COLOR-FORM-FONT: #452000;
  --COLOR-FORM-FONT-text: #553111;

  --COLOR-BUTTON-primary: #e67e22;
  --COLOR-BUTTON-secondary: #fff3e8;
  --COLOR-BUTTON-Form: #452000;

  --COLOR-ICON: #e67e22;

  /* SIZING */
}

html {
  /* 1rem =10px */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Precentage of user's browser font-size settings   */
  font-size: 62.5%;
}
html,
body {
  font-family: var(--FONT-text-p-body-secondary);
  color: var(--COLOR-FONT-text-body);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1%;
  color: var(--COLOR-FONT-header);
  font-family: var(--FONT-heading-section-nav-title-primary);
}
/* ------------------------------------HERO and NAV */
.btn-navbar {
  /* DESKTOP */
  background-color: var(--COLOR-BUTTON-primary);
  color: white;
  /* font-size: 1rem; 16px */
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 0.8rem 2.24rem;
  border-radius: 7px;
}
.nav-bar-links {
  /* DESKTOP */
  font-size: 2rem;
  line-height: 2.56rem;
  font-family: var(--FONT-heading-section-nav-title-primary);
  font-weight: 400;
}
h1 {
  /* DESKTOP */
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6.08rem;
}
h2 {
  /* DESKTOP */
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6rem;
}

h3 {
  /* DESKTOP */
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.9rem;
}
.container-btn-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
  max-width: 520px;
}

.button-container {
  display: flex;
  background-color: #fff3e8;
  border-radius: 9px;
  align-items: center;
  padding-right: 27.2px;
  justify-content: space-between;
}

.btn-primary {
  /* DESKTOP */
  background-color: var(--COLOR-BUTTON-primary);
  font: var(--FONT-text-p-body-secondary);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.24rem;
  padding: 0.96rem 2.72rem;
  border-radius: 9px;
  display: block;
}
.btn-secondary {
  /* DESKTOP */

  background-color: #fff3e8;
  display: block;
  padding: 0.96rem 2.72rem;
  border-radius: 9px;
}
.btn-ahref-secondary {
  color: #2e2e2e;
  font: var(--FONT-text-p-body-secondary);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.24rem;
  text-decoration: none;
}

.hero-text {
  text-align: left;
  font-weight: 400;
  max-width: 550px;
  font-size: 2.2rem;
}
.hero {
  position: relative;
  padding: 5rem 10rem;
}

.text-250-text {
  line-height: 2rem;
  margin-left: 10rem;
  text-align: left;
  font-weight: 400;
  max-width: 550px;
  font-size: 1.5rem;
}
.text-250-text-color {
  font-weight: 700;
  color: var(--COLOR-BUTTON-primary);
}
.text-250 {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(255, 243, 232) 5%,
    #fff3e8 10.16%,
    #fff3e8 50.16%,
    #fff3e800 96.96%
  );
  bottom: -7rem;
  left: 0;
  z-index: 100;
  padding: 0.5rem 0;
}
/* -------------------------------------SECTION HOW IT WORKS */

h4,
.section-title {
  /* DESKTOP */
  color: var(--COLOR-FONT-section-title);
  font-weight: 400;
  font-size: 2rem;
  line-height: 4.9rem;
  letter-spacing: 0.08rem;
}

.number3 {
  /* DESKTOP */
  font-weight: 400;
  font-size: 11rem;
  line-height: 4.9rem;
  font-family: var(--FONT-heading-section-nav-title-primary);
  color: #ababab;
}
/* -----------------------------------------MEALS */
.meals-tag {
  font-weight: 500;
  font-size: 1.2rem;
  color: #2e2e2e;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 20px;
  line-height: 1.2;
}

.green {
  background-color: #40c057;
}
.yellow {
  background-color: #dfc747;
}

/* -----------------------------------------FORMS */
.form-h2 {
  /* DESKTOP */
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6rem;
  color: var(--COLOR-FORM-FONT);
}

.form-text {
  color: #553111;
}

.tex {
  font-size: 1.8rem;
}
